<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src=""></script>

<section class="home" id="home">
    <div class="home-text container">
        <h2 class="home-title">Trend Blogger</h2>
        <span class="home-subtitle">Your source of great content</span>
    </div>
</section>

<section class="about container" id="about">
    <div class="contentBx">
        <h2 class="titleText">Catch up with the trending topics</h2>
        <p class="title-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum eos consequuntur voluptate dolorum totam
            provident ducimus cupiditate dolore doloribus repellat. Saepe ad fugit similique quis quam. Odio suscipit
            incidunt distinctio.
            <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed blanditiis libero pariatur ipsum suscipit
            voluptates aut, repellendus quos dolor autem, natus laboriosam consectetur maxime cumque, sunt magni optio?
            Veritatis, ea?
        </p>
        <a href="#" class="btn2">Read more</a>
    </div>
    <div class="imgBx">
        <img src="images/about.png" alt="" class="fitBg">
    </div>
</section>

<div class="post-filter container" style="overflow: auto;">
    <span class="filter-item active-filter" data-filter="all">All</span>
    <% categories.forEach(category=> { %>
        <button style="color:black; width: fit-content;" href="http://localhost:8001/?category=<%= category.name %>"
            class="filter-item" id="category">
            <%= category.name %>
        </button>
        <% }) %>
</div>

<div class="post container">

    <% if(datas) { %>
        <% datas.forEach( data=> { %>
            <div class="post-box tech">
                <img src="images/img1.jpg" alt="" class="post-img">
                <h2 class="category">
                   <%= data.category %>
                </h2>
                <a href="#" class="post-title">
                    title
                    <!-- <%= data.title %> -->
                </a>
                <p class="post-description">
                    content
                    <!-- <%= data.content %> -->
                </p>
                <div class="profile">
                    <img src="images/testi1.jpg" alt="" class="profile-img">
                    <span class="profile-name">
                        <%= data.profileName %>
                    </span>
                </div>
            </div>
        <% }) %>
    <% } %>

                    <div style="width: 100%; display: flex;">
                        <button id="page-decrement" style="width: 50%;">previous</button>
                        <button id="page-increment" style="width: 50%;">Next</button>
                    </div>
</div>

<script>
    sessionStorage.setItem("current_page", 1);
    sessionStorage.setItem("category", "all");

    const page_increment = document.getElementById("page-increment");
    const page_decrement = document.getElementById("page-decrement");
    const categories = document.querySelectorAll("#category");

    page_increment.addEventListener("click", (el) => {
        el.preventDefault(); // preavents browser from reloading

        const page = sessionStorage.getItem("current_page");
        const nextPage = Number(page) + 1;
        const PageNumber = page ? nextPage : sessionStorage.setItem("current_page", 1);

        sessionStorage.setItem("current_page", nextPage);

        window.location.assign(`http://localhost:8001/?page=${nextPage}`);
    })

    page_decrement.addEventListener("click", (el) => {
        el.preventDefault(); // preavents browser from reloading

        const page = sessionStorage.getItem("current_page");
        const nextPage = Number(page) - 1 == 0 ? 1 : Number(page) - 1;
        const PageNumber = page ? nextPage : sessionStorage.setItem("current_page", 1);

        sessionStorage.setItem("current_page", nextPage);

        window.location.assign(`http://localhost:8001/?page=${nextPage}`);
    })

    categories.forEach(category => {
        category.addEventListener("click", (el) => {
            const clicked_category = el.target.innerText ? el.target.innerText : "all";

            sessionStorage.setItem("category", clicked_category);

            const page = sessionStorage.getItem("page")
            const currentPage = page ? page : 1;

            window.location.assign(`http://localhost:8001/?category=${clicked_category}&page=${currentPage}`);
        })
    })


</script>